<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/css/aboutus.css">

<head>
    <meta charset="utf-8">
    <title>HTML</title>
</head>

<body>
    <div class="About-us">
        <h1> About Us </h1>
        <img src="../static/img/blood2.png">
        <p>Blood donation is a voluntary procedure that can help save lives. There are several types of blood donation. Each type
        helps meet different medical needs.</p>
        <hr>
        <p>Whole blood donation is the most common type of blood donation. During this donation, you donate about a pint (about
        half a liter) of whole blood. The blood is then separated into its components — red cells, plasma and sometimes
        platelets.</p>
    </div>
</body>

</html>
</body>

</html>