<html>

<head>
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style1.css">
</head>

<body>
    <div class="first">
        <img src="../static/img/blood2.png" align="left" width="10%" height="98%">
        <center>
            <ol>
                <li class="mainli"><a href="/search">SEARCH DONORS</a></li>
                <li class="mainli"><a href="/delete">DELETE USER</a></li>
                <li class="mainli"><a href="/login">LOGOUT</a></li>
            </ol>
        </center>
    </div>
    <br>
    <div class="second">
    </div>
</body>

</html>