<html>
<head>
    <title>HOME</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style1.css">
</head>

<body>
    <div class="first">
        <img src="../static/img/blood2.png" align="left" width="10%" height="98%">
        <center>
            <ol>
                <li class="mainli"><a href="#">HOME</a></li>
                <li class="mainli"><a href="/aboutus">ABOUT US</a></li>
                <li class="mainli"><a href="/registration">REGISTRATION</a></li>
                <li class="mainli"><a href="/view">VIEW DONORS</a></li>
                <li class="mainli"><a href="/login">LOGIN</a></li>
            </ol>
        </center>
    </div>
    <br>
    <div class="second">
</div>
    <br>
    <div id="abcd">
        <h1><b>
                <center>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ABOUT US</center>
            </b></h1>
        <br><br>
        <p><b>There’s no end to the benefits of donating blood for those who need it. According to the American Red Cross, one
        donation can save as many as three lives, and someone in the United States needs blood every two seconds.It turns out that donating blood doesn’t just benefit recipients. There are health benefits for donors, too, on top of
        the benefits that come from helping others. Read on to learn the health benefits of donating blood and the reasons behind them.Benefits
        Donating blood has benefits for your emotional and physical health. According to a report by the Mental HealthFoundation, helping others can:
        reduce stress
        improve your emotional well-being
        benefit your physical health
        help get rid of negative feelings
        provide a sense of belonging and reduce isolation
        Research has found further evidence of the health benefits that come specifically from donating blood.</b>
    </div>
    </div>
</body>
</html>